.idea/*
scrapper/scrapped/*
!scrapper/scrapped/.gitkeep
website/src/img/p/*
website/src/img/tmp/*
!/website/src/img/p/.gitkeep
**/__pycache__/
**/.venv/
testing/.idea
website/storage/*
!website/storage/.gitkeep