/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
#categories{ /* zmiana */
 background-color: #0070C4;
 height: 50px;
 margin-top: 20px;
}

#categories-inside{ /* zmiana */

}

.carousel{

}

#language{ /* zmiana */
 text-align: left;
 color: white;
 font-size: 20px;
 padding: 5px;
}

#contact_us{ /* zmiana */
 float: left;
 font-size: 20px;
 text-align: right;
 margin-right: 40px;
}

#wrapper {
 margin-top: 25px; /* zmiana */
}

#header .header-top {
 background-color: #333335; /* zmiana */
}

.top-menu .sub-menu {
 width: calc(320px); /* zmiana */
 min-width: calc(320px); /* zmiana */
 margin-left: 0; /* zmiana */
}

.popover {
 left: auto; /* zmiana */
}

.dropdown-item {
 margin-top: 5px; /* zmiana */
 border-left: 1px solid white;
 margin-left: -15px;
 margin-right: 10px;
}


.category .category{
 padding-right: 100px;
}



#wrapper .container{
 margin-top: 10px;
}

.container{
 width: 80%;
}

/*.hidden-sm-down{*/
/* color: red;*/
/* padding-top: 10px;*/
/*}*/

/*#sign_in{*/
/* background-color: red;*/
/*}*/

#_desktop_user_info{
 margin-top: 10px;
 margin-bottom: 10px;
}

/*.hidden-sm-down{*/
/* color: White;*/
/* font-weight: bold;*/
/*}*/

.white-text{
 color: white;

}

.expand-more{

 color: white !important;
}

#contact-header{
 color: white !important;
 font-size: 24px;
 font-weight: bold;
}

#_desktop_logo{
 margin-left: 80px;
}


