/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
#categories{ /* zmiana */
 background-color: #0070C4;
 height: 50px;
 margin-top: 20px;
}

#carousel {
 margin-top: -20px;
 overflow: hidden !important;
 position: relative !important;
 margin-left: -10.2vw !important;
 width: 98vw !important; /* Dla pełnej szerokości */
}

.carousel-inner {
 height: 30% !important; /* Wysokość 30% szerokości #carousel */
 width: 100% !important; /* Dla pełnej szerokości */
}

.icon-next{
 margin: 0 !important;
}

.icon-prev{
 margin: 0 !important;
}

#categories-inside{ /* zmiana */

}

#language{ /* zmiana */
 text-align: left;
 color: white;
 font-size: 20px;
 padding: 5px;
}

.logout{
 color: white !important;
}

#contact_us{ /* zmiana */
 float: left;
 font-size: 20px;
 text-align: right;
 margin-right: 40px;
}

#wrapper {
 margin-top: 25px; /* zmiana */
}

#header .header-top {
 background-color: #333335; /* zmiana */
}

.top-menu .sub-menu {
 width: calc(320px); /* zmiana */
 min-width: calc(320px); /* zmiana */
 margin-left: -30px; /* zmiana */
}


.popover {
 left: auto; /* zmiana */
}

.dropdown-item {
 margin-top: 5px; /* zmiana */
 border-left: 1px solid white;
 margin-left: -15px;
 margin-right: 10px;
}


.category .category{
 padding-right: 100px;
}



#wrapper .container{
 margin-top: 10px;
}

.container{
 width: 80%;
}


#_desktop_user_info{
 margin-top: 6px;
 margin-bottom: 6px;
}

.header-options{ /* language, sing in, cart */
 color: white !important;
}


.white-text{
 color: white !important;
}

.expand-more{
 color: white !important;
}

#contact-header{
 color: white !important;
 font-size: 24px;
 font-weight: bold;
}

#_desktop_logo{
 margin-left: 80px;
}


.category-top-menu-under{
margin-left: 0px;
}

.category-top-menu {
 color: white !important;
 text-transform: none !important;
}

@media screen and (min-width: 700px) and (max-width: 825px) {
 .dropdown-item{
  font-size: 11px !important;
 }

 .category-top-menu {
  font-size: 8px !important;
 }

 .header-options{ /* language, sing in, cart */
  font-size: 10px !important;
 }

 .expand-more{
  font-size: 10px !important;
 }

 .logout{
  font-size: 10px !important;
 }

 #_desktop_user_info{
  margin-top: -6px;
  margin-bottom: -6px;
 }

 .top-menu .sub-menu {
  width: calc(260px); /* zmiana */
  min-width: calc(260px); /* zmiana */
  margin-left: -50px; /* zmiana */
 }

 .container{
  width: 90%;
 }

}

@media screen and (min-width: 826px) and (max-width: 945px) {
 .dropdown-item{
  font-size: 11px !important;
 }

 .category-top-menu {
  font-size: 8px !important;
 }

 .header-options{ /* language, sing in, cart */
  font-size: 11px !important;
 }

 .expand-more{
  font-size: 11px !important;
 }

 .logout{
  font-size: 11px !important;
 }

 #_desktop_user_info{
  margin-top: -4px;
  margin-bottom: -4px;
 }

 .top-menu .sub-menu {
  width: calc(270px); /* zmiana */
  min-width: calc(270px); /* zmiana */
  margin-left: -50px; /* zmiana */
 }

}



@media screen and (min-width: 0px) and (max-width: 992px) {
 #carousel {
  margin-top: -20px;
  overflow: hidden !important;
  position: relative !important;
  margin-left: -49vw !important;
  width: 97.6vw !important;
 }
}

@media screen and (min-width: 993px) and (max-width: 1080px) {
 #carousel {
  margin-top: -20px;
  overflow: hidden !important;
  position: relative !important;
  margin-left: -49.7vw !important;
  width: 98vw !important; /* Dla pełnej szerokości */
 }

 #carousel {
  margin-left: -11vw !important;
 }
}

@media screen and (min-width: 946px) and (max-width: 1080px) {
 .dropdown-item{
  font-size: 11px !important;
 }

 .category-top-menu {
  font-size: 10px !important;
 }

 .header-options{ /* language, sing in, cart */
  font-size: 14px !important;
 }

 .expand-more{
  font-size: 14px !important;
 }

 .logout{
  font-size: 14px !important;
 }

 #_desktop_user_info{
  margin-top: -2px;
  margin-bottom: -2px;
 }

 .top-menu .sub-menu {
  width: calc(280px); /* zmiana */
  min-width: calc(280px); /* zmiana */
  margin-left: -50px; /* zmiana */
 }


}

@media screen and (min-width: 1081px) and (max-width: 1230px) {
 .dropdown-item{
  font-size: 12px !important;
 }

 .category-top-menu {
  font-size: 12px !important;
 }

 .header-options{ /* language, sing in, cart */
  font-size: 16px !important;
 }

 .expand-more{
  font-size: 16px !important;
 }

 .logout{
  font-size: 16px !important;
  padding-bottom: 10px !important;
 }

 #_desktop_user_info{
  line-height: 1.6 !important; /* nie wiem dlaczego nie działa */
  margin-top: 2px;
  margin-bottom: 2px;
 }

 .top-menu .sub-menu {
  width: calc(300px); /* zmiana */
  min-width: calc(300px); /* zmiana */
  margin-left: -30px; /* zmiana */
 }

 #carousel {
  margin-left: -10.8vw !important;
 }

}

@media screen and (min-width: 1231px) and (max-width: 1340px) {
 .category-top-menu {
  font-size: 14px !important;
 }

 #carousel {
  margin-left: -10.7vw !important;
 }


}

.img-fluid{
 display: block !important;
 margin: 0 auto !important;
}







