services:
  mysql:
    platform: linux/x86_64
    container_name: mysql
    image: mariadb
    user: 1000:1000
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 2
        window: 140s
    environment:
      - MYSQL_ROOT_PASSWORD=root123
    ports:
      - 3306:3306
    volumes:
      - ./db_dump:/docker-entrypoint-initdb.d
      - ./database:/var/lib/mysql
    networks:
      - prestashop_net
  prestashop:
    platform: linux/x86_64
    container_name: prestashop
    image: prestashop/prestashop:1.7.8-apache
    #exec apache2-foreground
    #a2enmod ssl && service apache2 restart && 
    #/bin/sh -c "usermod -u 1000 www-data && exec apache2-foreground" # chown -R 1000:1000 /tmp/data-ps && /tmp/docker_run.sh
    command: /bin/sh /etc/apache2/sites-available/starter.sh
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 2
        window: 140s
    depends_on:
      - mysql
    ports:
      - 8080:80
      - 8443:443
    volumes:
      - ./src:/var/www/html
      - ./apache-config:/etc/apache2/sites-available
    networks:
      - prestashop_net
networks:
  prestashop_net: